:root {
	--blazy: #fc6424;
	--blight: #d9d9d9;
	--white: #ffff;
	--black: #000000;
}

.bg-blazy {
	background-color: var(--blazy);
}

.bg-blight {
	background-color: var(--blight);
}

.round-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
